.box-main {
    width: 400px;
    height: 500px;

    margin: auto;

    background-color: rgba(121, 182, 195, 0.7);
    backdrop-filter: blur(10px);
    

    border-radius: 12px;

    padding: 10px;

    text-align: center;
}